# Environment
.env

# Node
node_modules/
dist/

# Java / Maven
target/
*.jar
*.class

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfplan
terraform/tfplan
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log
